@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Display.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Normal.woff2');
    font-weight: normal;
    font-style: normal;
}
